<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Search</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="anime">
        <button type="submit">Search</button>
        <div style="width:100%;height:0;padding-bottom:103%;position:relative;"><iframe src="https://giphy.com/embed/aY1HMl4E1Ju1y" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/naruto-shippuden-kakashi-aY1HMl4E1Ju1y">via GIPHY</a></p>
    </form>
</body>
</html>